@page "/bankaccountdetails/{id}"
@using BooKeeperWebApp.Shared.Dtos;
@using BooKeeperWebApp.Shared.Enums;
@using Client.Components

@inject BankAccountService _bankAccountService

<PageTitle>Account details @_bankAccountService.Item?.Name</PageTitle>

<h2>@_bankAccountService.Item?.Name</h2>

@if (_bankAccountService.Item!.Type == BankAccountType.ING ||
    _bankAccountService.Item.Type == BankAccountType.INGSavings ||
    _bankAccountService.Item.Type == BankAccountType.RegioBank)
{
    <BankDetails />
}

@if (_bankAccountService.Item!.Type == BankAccountType.Robeco)
{
    <RobecoDetails />
}

@code {
    [Parameter]
    public string? Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
    }

    protected override async Task OnParametersSetAsync()
    {
        await _bankAccountService.GetById(Guid.Parse(Id!));
    }
}
