@page "/books"
@    using BooKeeperWebApp.Shared.Dtos.Bank;
@    using Client.Components

@inject BookService BookService;
@inject DialogService DialogService;

<PageTitle>Books</PageTitle>
<div class="container-fluid h-100">
    <div class="row h-100">
        <div class="col-3">
            <RadzenCard class="h-100">
                <div class="container-fluid h-100">
                    <div class="row justify-content-end">
                        <div class="col">
                            <div class="row justify-content-between">
                                <div class="col">
                                    <RadzenTextBox @bind-Value=@bookName
                                                   Placeholder="Name"
                                                   Class="w-100"
                                                   Change="OnNameTextBoxChange" />
                                </div>
                                <div class="col-md-auto">
                                    <RadzenButton IsBusy=@(BookService.Creating || BookService.Updating || BookService.Deleting)
                                                  Click=@OnSaveClick
                                                  Variant="Variant.Outlined"
                                                  ButtonStyle="ButtonStyle.Secondary"
                                                  Size="ButtonSize.Medium"
                                                  Icon="save" />
                                    <RadzenButton IsBusy=@(BookService.Creating || BookService.Updating || BookService.Deleting)
                                                  Click=@OnDeleteClick
                                                  Variant="Variant.Outlined"
                                                  ButtonStyle="ButtonStyle.Danger"
                                                  Shade="Shade.Lighter"
                                                  Size="ButtonSize.Medium"
                                                  Icon="delete" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="min-height: 95%; max-height: 95%;">
                        <div class="col">
                            <RadzenListBox @ref="bookListBox"
                                           AllowFiltering="true"
                                           FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                                           Data=@BookService.Items
                                           TValue="BookDto"
                                           TextProperty="Name"
                                           ValueProperty="Id"
                                           Change=@(args => OnListBoxChange(args))
                                           Style="min-height: 90%; max-height: 90%;"
                                           Class="w-100" />
                        </div>
                    </div>
                </div>
            </RadzenCard>
        </div>
        <div class="col-9">
            <RadzenCard class="h-100">
                @if (selectedBook != null && selectedBook.Id != Guid.Empty)
                {
                    <BookDetails Id=@selectedBook.Id.ToString() />
                }
            </RadzenCard>
        </div>
    </div>
</div>

@code {
    private RadzenListBox<BookDto>? bookListBox;
    private BookDto selectedBook = new BookDto();
    private string? bookName;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        await BookService.LoadAsync();

        BookService.RefreshRequested += RefreshMe;
    }

    void OnNameTextBoxChange()
    {
        if (string.IsNullOrEmpty(bookName))
        {
            ResetSelectedItem();
        }
    }

    async Task OnSaveClick()
    {
        selectedBook.Name = bookName;
        if (selectedBook.Id == Guid.Empty)
        {
            await BookService.CreateBookAsync(selectedBook);
        }
        else
        {
            await BookService.UpdateBookAsync(selectedBook);
        }
    }

    async Task OnDeleteClick()
    {
        var confirmResult = await DialogService.Confirm(
                    $"Are you sure you want to delete '{selectedBook.Name}', this cannot be undone.",
                    "Warning!",
                    new ConfirmOptions() { OkButtonText = "Yes", CancelButtonText = "No", Style = "" });

        if (confirmResult.HasValue && confirmResult.Value)
        {
            if (await BookService.DeleteAsync(selectedBook.Id))
            {
                ResetSelectedItem();
            }
        }
    }

    void OnListBoxChange(object id)
    {
        selectedBook = BookService.Items.First(x => x.Id == (Guid)id);
        bookName = selectedBook.Name!;
    }

    private void ResetSelectedItem()
    {
        selectedBook = new BookDto();
        bookListBox!.Reset();
    }

    private void RefreshMe()
    {
        StateHasChanged();
    }
}