@page "/events"
@    using BooKeeperWebApp.Shared.Dtos.Bank;
@    using Client.Components

@inject EventService EventService;
@inject DialogService DialogService;

<PageTitle>Events</PageTitle>
<div class="container-fluid h-100">
    <div class="row h-100">
        <div class="col-3">
            <RadzenCard class="h-100">
                <div class="container-fluid h-100">
                    <div class="row justify-content-end">
                        <div class="col">
                            <div class="row justify-content-between">
                                <div class="col">
                                    <RadzenTextBox @bind-Value=@eventName
                                                   Placeholder="Name"
                                                   Class="w-100"
                                                   Change="OnNameTextBoxChange" />
                                </div>
                                <div class="col-md-auto">
                                    <RadzenButton IsBusy=@(EventService.Creating || EventService.Updating || EventService.Deleting)
                                                  Click=@OnSaveClick
                                                  Variant="Variant.Outlined"
                                                  ButtonStyle="ButtonStyle.Secondary"
                                                  Size="ButtonSize.Medium"
                                                  Icon="save" />
                                    <RadzenButton IsBusy=@(EventService.Creating || EventService.Updating || EventService.Deleting)
                                                  Click=@OnDeleteClick
                                                  Variant="Variant.Outlined"
                                                  ButtonStyle="ButtonStyle.Danger"
                                                  Shade="Shade.Lighter"
                                                  Size="ButtonSize.Medium"
                                                  Icon="delete" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="min-height: 95%; max-height: 95%;">
                        <div class="col">
                            <RadzenListBox @ref="eventListBox"
                                           AllowFiltering="true"
                                           FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                                           Data=@EventService.Items
                                           TValue="EventDto"
                                           TextProperty="Name"
                                           ValueProperty="Id"
                                           Change=@(args => OnListBoxChange(args))
                                           Style="min-height: 90%; max-height: 90%;"
                                           Class="w-100" />
                        </div>
                    </div>
                </div>
            </RadzenCard>
        </div>
        <div class="col-9">
            <RadzenCard class="h-100">
                @if (selectedEvent != null && selectedEvent.Id != Guid.Empty)
                {
                    <EventDetails Id=@selectedEvent.Id.ToString() />
                }
            </RadzenCard>
        </div>
    </div>
</div>

@code {
    private RadzenListBox<EventDto>? eventListBox;
    private EventDto selectedEvent = new EventDto();
    private string? eventName;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        await EventService.LoadAsync();

        EventService.RefreshRequested += RefreshMe;
    }

    void OnNameTextBoxChange()
    {
        if (string.IsNullOrEmpty(eventName))
        {
            ResetSelectedItem();
        }
    }

    async Task OnSaveClick()
    {
        selectedEvent.Name = eventName;
        if (selectedEvent.Id == Guid.Empty)
        {
            await EventService.CreateEventAsync(selectedEvent);
        }
        else
        {
            await EventService.UpdateEventAsync(selectedEvent);
        }
    }

    async Task OnDeleteClick()
    {
        var confirmResult = await DialogService.Confirm(
                    $"Are you sure you want to delete '{selectedEvent.Name}', this cannot be undone.",
                    "Warning!",
                    new ConfirmOptions() { OkButtonText = "Yes", CancelButtonText = "No", Style = "" });

        if (confirmResult.HasValue && confirmResult.Value)
        {
            if (await EventService.DeleteAsync(selectedEvent.Id))
            {
                ResetSelectedItem();
            }
        }
    }

    void OnListBoxChange(object id)
    {
        selectedEvent = EventService.Items.First(x => x.Id == (Guid)id);
        eventName = selectedEvent.Name!;
    }

    private void ResetSelectedItem()
    {
        selectedEvent = new EventDto();
        eventListBox!.Reset();
    }

    private void RefreshMe()
    {
        StateHasChanged();
    }
}