@using BooKeeperWebApp.Shared.Dtos.Bank;
@using Client.Services.Bank;

@inject BookService _bookService

<PageTitle>Book details @_bookService.Item?.Name</PageTitle>

<h2>@_bookService.Item?.Name</h2>

<div class="container-fluid h-100">
    <div class="row jusitify-content-left">
        <div class="col">
            @if (_bookService.Loading)
            {
                <RadzenProgressBar Value="100" ShowValue="false" Mode="ProgressBarMode.Indeterminate" />
            }
            <RadzenDataGrid AllowAlternatingRows="false"
                            AllowPaging="true"
                            PageSize="10"
                            AllowSorting="true"
                            AllowFiltering="true"
                            FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                            FilterMode="FilterMode.Simple"
                            EditMode="DataGridEditMode.Single"
                            Data="@_bookService.Item?.Mutations?.OrderByDescending(x => x.Date)"
                            TItem="MutationDto">
                <Columns>
                    <RadzenDataGridColumn TItem="MutationDto" Property="Date" Title="Date" FormatString="{0,8:dd/MM/yyyy}" Width="75px" />
                    <RadzenDataGridColumn TItem="MutationDto" Property="AccountNumber" Title="Account" Width="75px" />
                    <RadzenDataGridColumn TItem="MutationDto" Property="Amount" FormatString="{0:N2}" Title="Amount" TextAlign="TextAlign.Right" Width="60px" />
                    <RadzenDataGridColumn TItem="MutationDto" Property="Comment" Title="Comment" Width="250px">
                        <Template>
                            <p style="white-space:pre-wrap">@context.Comment</p>
                        </Template>
                    </RadzenDataGridColumn>
                    <RadzenDataGridColumn TItem="MutationDto" Property="Tag" Title="Tag" Width="100px" />
                </Columns>
            </RadzenDataGrid>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public string? Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
    }

    protected override async Task OnParametersSetAsync()
    {
        await _bookService.GetById(Guid.Parse(Id!));
    }
}
