@using BooKeeperWebApp.Shared.Dtos;
@using BooKeeperWebApp.Shared.Dtos.Overview;

@inject OverviewService _overviewService

<PageTitle>BooKeeper</PageTitle>

<div class="container-fluid h-100">
    <div class="row">
        <div class="col-3">
            <RadzenCard>
                <div class="container-fluid h-100">
                    <div class="row">
                        <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">Accounts</RadzenText>
                    </div>
                    @if (_overviewService.LoadingAccounts)
                    {
                        <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">Loading accounts</RadzenText>
                        <RadzenProgressBar ProgressBarStyle="ProgressBarStyle.Primary" Value="100" ShowValue="false" Mode="ProgressBarMode.Indeterminate" />
                    }
                    else
                    {
                        @foreach (var account in _overviewService.Accounts)
                        {
                            <div class="row jusitify-content-left">
                                <div class="col-8">
                                    @account.AccountName
                                </div>
                                <div class="col-4 text-end">
                                    @account.Amount.ToString("N2")
                                </div>
                            </div>
                        }
                        <hr />
                        <div class="row jusitify-content-left rz-border-radius-4">
                            <div class="col-8">
                                Total
                            </div>
                            <div class="col-4 text-end">
                                @_overviewService.Accounts.Sum(x => x.Amount).ToString("N2")
                            </div>
                        </div>
                    }
                </div>
            </RadzenCard>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <RadzenCard>
                <BookOverview />
            </RadzenCard>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <RadzenCard>
                <AccountChartOverview />
            </RadzenCard>
        </div>
    </div>
</div>

@code {
    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        _overviewService.RefreshRequested += RefreshMe;
        _overviewService.LoadAccountsAsync();
    }

    public void Dispose()
    {
        _overviewService.RefreshRequested -= RefreshMe;
    }

    private void RefreshMe()
    {
        StateHasChanged();
    }
}
